.glass 
{
    padding: 35px;
    background-color: rgba(98, 147, 185, .45);
    /*background: linear-gradient (
                    120deg,
                    rgba(98, 147, 185, .25),
                    rgba(98, 147, 185, .75) 70%,
                    rgba(98, 147, 185, .25) 0%
                 );*/
    border-radius: 2px;
    border: 1px solid rgba(202, 217, 229, .75);
    backdrop-filter: blur(18px) saturate(200%) opacity(75%);
    box-shadow: inset 4px 4px 5px 0 rgba(98, 147, 185, .25), 
                inset -2px -2px 5px 0 rgba(202, 217, 229, 0.125), /*Our white color?*/ 
                0 0 10px 5px rgba(0, 0, 0, 0.25);
}

.frosted-glass
{

}