@using Kanban.Views.DTOs;
@model BoardResponse

@{
    ViewData["Title"] = "GetBoard Page";
}

<div class="text-center">
    <h1>Board</h1>

    <p>
        <a>Create New</a>
    </p>
    
    <table class="table">
        <nav>
            <ul>
                <li><a onclick="on()">Add Card</a></li>
                <li><a>Add Column</a></li>
                <li><a>Add Swimlane</a></li>
                <li><a>Add Board</a></li>
            </ul>
        </nav>
        <div id="overlay" title="Click anywhere to escape">
            <div>
                <h3>Click anywhere to escape</h3>
                <form>
                    <h2>New Card Info</h2>
                    <input></input>
                    <input></input>
                    <button onlick="off()">Close</button>
                </form>
            </div>
        </div>

        <MudGrid Style="background-color: lightblue" Spacing="0">
    <MudItem xs="12">
        <MudPaper Class="d-flex align-center justify-center mud-width-full mud-theme-primary py-8 px-8 rounded-0">
            <MudGrid Spacing="3">
                <MudItem xs="12">
                    <MudPaper Class="d-flex align-center justify-center mud-width-full py-3">
                        Item 1
                    </MudPaper>
                </MudItem>
                <MudItem xs="12" sm="4">
                    <MudPaper Class="d-flex align-center justify-center mud-width-full py-3">
                        Item 1.5
                    </MudPaper>
                </MudItem>
                <MudItem xs="4">
                    <MudPaper Class="d-flex align-center justify-center mud-width-full">
                        Item 2
                    </MudPaper>
                </MudItem>
                <MudItem xs="2">
                    <MudPaper Class="d-flex align-center justify-center mud-width-full">
                        Item 3
                    </MudPaper>
                </MudItem>
            </MudGrid>
        </MudPaper>
    </MudItem>
    <MudItem xs="4">
        <MudPaper Class="d-flex align-center justify-center mud-width-full">xs=6</MudPaper>
    </MudItem>
    <MudItem xs="6">
        <MudPaper Class="d-flex align-center justify-center mud-width-full">xs=6</MudPaper>
    </MudItem>
    <MudItem xs="3">
        <MudPaper Class="d-flex align-center justify-center">xs=3</MudPaper>
    </MudItem>
    <MudItem xs="3">
        <MudPaper Class="d-flex align-center justify-center mud-width-full py-8">xs=3</MudPaper>
    </MudItem>
    <MudItem xs="2">
        <MudPaper Class="d-flex align-center justify-center mud-width-full py-8">xs=3</MudPaper>
    </MudItem>
    <MudItem xs="3">
        <MudPaper Class="d-flex align-center justify-center mud-width-full py-8">xs=3</MudPaper>
    </MudItem>
</MudGrid>
</div>